aiohappyeyeballs==2.6.1 ; python_version >= "3.12" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
aiohttp==3.11.18 ; python_version >= "3.12" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
aiosignal==1.3.2 ; python_version >= "3.12" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
annotated-types==0.7.0 ; python_version >= "3.12" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
anyio==4.9.0 ; python_version >= "3.12" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
attrs==25.3.0 ; python_version >= "3.12" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
beautifulsoup4==4.13.4 ; python_version >= "3.12" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
bitarray==3.3.2 ; python_version >= "3.12" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
blinker==1.9.0 ; python_version >= "3.12" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
bs4==0.0.2 ; python_version >= "3.12" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
cached-property==2.0.1 ; python_version >= "3.12" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
certifi==2025.1.31 ; python_version >= "3.12" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
charset-normalizer==3.4.2 ; python_version >= "3.12" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
ckzg==2.1.1 ; python_version >= "3.12" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
click==8.1.8 ; python_version >= "3.12" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
colorama==0.4.6 ; python_version >= "3.12" and python_version < "4" and platform_system == "Windows" and (implementation_name == "cpython" or implementation_name == "pypy") or python_version >= "3.12" and python_version < "4" and sys_platform == "win32" and (implementation_name == "cpython" or implementation_name == "pypy")
cytoolz==1.0.1 ; python_version >= "3.12" and python_version < "4" and implementation_name == "cpython"
dash-core-components==2.0.0 ; python_version >= "3.12" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
dash-cytoscape==1.0.2 ; python_version >= "3.12" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
dash-html-components==2.0.0 ; python_version >= "3.12" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
dash-table==5.0.0 ; python_version >= "3.12" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
dash==2.18.2 ; python_version >= "3.12" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
dnspython==2.7.0 ; python_version >= "3.12" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
email-validator==2.2.0 ; python_version >= "3.12" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
eth-abi==5.2.0 ; python_version >= "3.12" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
eth-account==0.13.7 ; python_version >= "3.12" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
eth-bloom==3.1.0 ; python_version >= "3.12" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
eth-hash==0.7.1 ; python_version >= "3.12" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
eth-keyfile==0.8.1 ; python_version >= "3.12" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
eth-keys==0.7.0 ; python_version >= "3.12" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
eth-rlp==2.2.0 ; python_version >= "3.12" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
eth-tester==0.13.0b1 ; python_version >= "3.12" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
eth-typing==5.2.1 ; python_version >= "3.12" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
eth-utils==5.3.0 ; python_version >= "3.12" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
fastapi-cli==0.0.7 ; python_version >= "3.12" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
fastapi==0.115.12 ; python_version >= "3.12" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
flask==3.0.3 ; python_version >= "3.12" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
frozenlist==1.6.0 ; python_version >= "3.12" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
h11==0.16.0 ; python_version >= "3.12" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
hexbytes==1.3.0 ; python_version >= "3.12" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
httpcore==1.0.9 ; python_version >= "3.12" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
httptools==0.6.4 ; python_version >= "3.12" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
httpx==0.28.1 ; python_version >= "3.12" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
idna==3.10 ; python_version >= "3.12" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
importlib-metadata==8.7.0 ; python_version >= "3.12" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
itsdangerous==2.2.0 ; python_version >= "3.12" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
jinja2==3.1.6 ; python_version >= "3.12" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
loguru==0.7.3 ; python_version >= "3.12" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
lru-dict==1.3.0 ; python_version >= "3.12" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
markdown-it-py==3.0.0 ; python_version >= "3.12" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
markupsafe==3.0.2 ; python_version >= "3.12" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
mdurl==0.1.2 ; python_version >= "3.12" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
multidict==6.4.3 ; python_version >= "3.12" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
narwhals==1.38.0 ; python_version >= "3.12" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
nest-asyncio==1.6.0 ; python_version >= "3.12" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
networkx==3.4.2 ; python_version >= "3.12" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
packaging==24.2 ; python_version >= "3.12" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
parsimonious==0.10.0 ; python_version >= "3.12" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
plotly==6.0.1 ; python_version >= "3.12" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
propcache==0.3.1 ; python_version >= "3.12" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
py-ecc==8.0.0 ; python_version >= "3.12" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
py-evm==0.12.0b3 ; python_version >= "3.12" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
py-geth==5.5.0 ; python_version >= "3.12" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
pycryptodome==3.22.0 ; python_version >= "3.12" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
pydantic-core==2.33.1 ; python_version >= "3.12" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
pydantic-settings==2.8.1 ; python_version >= "3.12" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
pydantic==2.11.3 ; python_version >= "3.12" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
pydot==3.0.4 ; python_version >= "3.12" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
pygments==2.19.1 ; python_version >= "3.12" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
pyparsing==3.2.3 ; python_version >= "3.12" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
python-dotenv==1.1.0 ; python_version >= "3.12" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
python-multipart==0.0.20 ; python_version >= "3.12" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
pyunormalize==16.0.0 ; python_version >= "3.12" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
pywin32==310 ; python_version >= "3.12" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy") and platform_system == "Windows"
pyyaml==6.0.2 ; python_version >= "3.12" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
regex==2024.11.6 ; python_version >= "3.12" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
requests==2.32.3 ; python_version >= "3.12" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
retrying==1.3.4 ; python_version >= "3.12" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
rich-toolkit==0.14.1 ; python_version >= "3.12" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
rich==14.0.0 ; python_version >= "3.12" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
rlp==4.1.0 ; python_version >= "3.12" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
safe-pysha3==1.0.4 ; python_version >= "3.12" and python_version < "4" and implementation_name == "cpython"
scsc==0.1.5 ; python_version >= "3.12" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
semantic-version==2.10.0 ; python_version >= "3.12" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
setuptools==80.3.1 ; python_version >= "3.12" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
shellingham==1.5.4 ; python_version >= "3.12" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
six==1.17.0 ; python_version >= "3.12" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
sniffio==1.3.1 ; python_version >= "3.12" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
sortedcontainers==2.4.0 ; python_version >= "3.12" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
soupsieve==2.7 ; python_version >= "3.12" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
starlette==0.46.1 ; python_version >= "3.12" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
toolz==1.0.0 ; python_version >= "3.12" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
trie==3.1.0 ; python_version >= "3.12" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
typer==0.15.2 ; python_version >= "3.12" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
types-requests==2.32.0.20250328 ; python_version >= "3.12" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
typing-extensions==4.13.2 ; python_version >= "3.12" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
typing-inspection==0.4.0 ; python_version >= "3.12" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
urllib3==2.4.0 ; python_version >= "3.12" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
uvicorn==0.34.0 ; python_version >= "3.12" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
uvloop==0.21.0 ; python_version >= "3.12" and python_version < "4" and (sys_platform != "win32" and sys_platform != "cygwin") and platform_python_implementation != "PyPy" and (implementation_name == "cpython" or implementation_name == "pypy")
watchfiles==1.0.5 ; python_version >= "3.12" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
web3==7.11.0 ; python_version >= "3.12" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
websockets==15.0.1 ; python_version >= "3.12" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
werkzeug==3.0.6 ; python_version >= "3.12" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
win32-setctime==1.2.0 ; python_version >= "3.12" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy") and sys_platform == "win32"
yarl==1.20.0 ; python_version >= "3.12" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
zipp==3.21.0 ; python_version >= "3.12" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
