aiohappyeyeballs==2.6.1 ; python_full_version >= "3.12.1" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
aiohttp==3.12.15 ; python_full_version >= "3.12.1" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
aiosignal==1.4.0 ; python_full_version >= "3.12.1" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
annotated-types==0.7.0 ; python_full_version >= "3.12.1" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
anyio==4.11.0 ; python_full_version >= "3.12.1" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
attrs==25.3.0 ; python_full_version >= "3.12.1" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
bitarray==3.7.1 ; python_full_version >= "3.12.1" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
cached-property==2.0.1 ; python_full_version >= "3.12.1" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
cbor2==5.7.0 ; python_full_version >= "3.12.1" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
certifi==2025.8.3 ; python_full_version >= "3.12.1" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
charset-normalizer==3.4.3 ; python_full_version >= "3.12.1" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
ckzg==2.1.4 ; python_full_version >= "3.12.1" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
click==8.3.0 ; python_full_version >= "3.12.1" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
colorama==0.4.6 ; python_full_version >= "3.12.1" and python_version < "4" and (platform_system == "Windows" or sys_platform == "win32") and (implementation_name == "cpython" or implementation_name == "pypy")
crytic-compile==0.3.10 ; python_full_version >= "3.12.1" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
cytoolz==1.0.1 ; python_full_version >= "3.12.1" and python_version < "4" and implementation_name == "cpython"
dnspython==2.8.0 ; python_full_version >= "3.12.1" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
email-validator==2.3.0 ; python_full_version >= "3.12.1" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
eth-abi==5.2.0 ; python_full_version >= "3.12.1" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
eth-account==0.13.7 ; python_full_version >= "3.12.1" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
eth-bloom==3.1.0 ; python_full_version >= "3.12.1" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
eth-hash==0.7.1 ; python_full_version >= "3.12.1" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
eth-keyfile==0.8.1 ; python_full_version >= "3.12.1" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
eth-keys==0.7.0 ; python_full_version >= "3.12.1" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
eth-rlp==2.2.0 ; python_full_version >= "3.12.1" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
eth-tester==0.13.0b1 ; python_full_version >= "3.12.1" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
eth-typing==5.2.1 ; python_full_version >= "3.12.1" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
eth-utils==5.3.1 ; python_full_version >= "3.12.1" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
fastapi-cache2==0.2.2 ; python_full_version >= "3.12.1" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
fastapi-cli==0.0.13 ; python_full_version >= "3.12.1" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
fastapi-cloud-cli==0.2.0 ; python_full_version >= "3.12.1" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
fastapi==0.117.1 ; python_full_version >= "3.12.1" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
frozenlist==1.7.0 ; python_full_version >= "3.12.1" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
greenlet==3.2.4 ; python_full_version >= "3.12.1" and python_version < "3.14" and (platform_machine == "aarch64" or platform_machine == "ppc64le" or platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "AMD64" or platform_machine == "win32" or platform_machine == "WIN32") and (implementation_name == "cpython" or implementation_name == "pypy")
h11==0.16.0 ; python_full_version >= "3.12.1" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
hexbytes==1.3.1 ; python_full_version >= "3.12.1" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
httpcore==1.0.9 ; python_full_version >= "3.12.1" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
httptools==0.6.4 ; python_full_version >= "3.12.1" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
httpx==0.28.1 ; python_full_version >= "3.12.1" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
idna==3.10 ; python_full_version >= "3.12.1" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
iniconfig==2.3.0 ; python_full_version >= "3.12.1" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
jinja2==3.1.6 ; python_full_version >= "3.12.1" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
loguru==0.7.3 ; python_full_version >= "3.12.1" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
lru-dict==1.4.1 ; python_full_version >= "3.12.1" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
mab-crystal-clear==1.0.9 ; python_full_version >= "3.12.1" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
markdown-it-py==4.0.0 ; python_full_version >= "3.12.1" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
markupsafe==3.0.2 ; python_full_version >= "3.12.1" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
mdurl==0.1.2 ; python_full_version >= "3.12.1" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
multidict==6.6.4 ; python_full_version >= "3.12.1" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
packaging==25.0 ; python_full_version >= "3.12.1" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
parsimonious==0.10.0 ; python_full_version >= "3.12.1" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
pendulum==3.1.0 ; python_full_version >= "3.12.1" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
pluggy==1.6.0 ; python_full_version >= "3.12.1" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
prettytable==3.16.0 ; python_full_version >= "3.12.1" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
propcache==0.3.2 ; python_full_version >= "3.12.1" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
psycopg2-binary==2.9.10 ; python_full_version >= "3.12.1" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
py-ecc==8.0.0 ; python_full_version >= "3.12.1" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
py-evm==0.12.1b1 ; python_full_version >= "3.12.1" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
py-geth==6.4.0 ; python_full_version >= "3.12.1" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
pycryptodome==3.23.0 ; python_full_version >= "3.12.1" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
pydantic-core==2.33.2 ; python_full_version >= "3.12.1" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
pydantic-settings==2.11.0 ; python_full_version >= "3.12.1" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
pydantic==2.11.9 ; python_full_version >= "3.12.1" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
pygments==2.19.2 ; python_full_version >= "3.12.1" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
pytest==8.4.2 ; python_full_version >= "3.12.1" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
python-dateutil==2.9.0.post0 ; python_full_version >= "3.12.1" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
python-dotenv==1.1.1 ; python_full_version >= "3.12.1" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
python-multipart==0.0.20 ; python_full_version >= "3.12.1" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
pyunormalize==16.0.0 ; python_full_version >= "3.12.1" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
pywin32==311 ; python_full_version >= "3.12.1" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy") and platform_system == "Windows"
pyyaml==6.0.2 ; python_full_version >= "3.12.1" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
redis==6.4.0 ; python_full_version >= "3.12.1" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
regex==2025.9.18 ; python_full_version >= "3.12.1" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
requests==2.32.5 ; python_full_version >= "3.12.1" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
rich-toolkit==0.15.1 ; python_full_version >= "3.12.1" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
rich==14.1.0 ; python_full_version >= "3.12.1" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
rignore==0.6.4 ; python_full_version >= "3.12.1" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
rlp==4.1.0 ; python_full_version >= "3.12.1" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
safe-pysha3==1.0.5 ; python_full_version >= "3.12.1" and python_version < "4" and implementation_name == "cpython"
semantic-version==2.10.0 ; python_full_version >= "3.12.1" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
sentry-sdk==2.38.0 ; python_full_version >= "3.12.1" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
shellingham==1.5.4 ; python_full_version >= "3.12.1" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
six==1.17.0 ; python_full_version >= "3.12.1" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
sniffio==1.3.1 ; python_full_version >= "3.12.1" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
solc-select==1.1.0 ; python_full_version >= "3.12.1" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
sortedcontainers==2.4.0 ; python_full_version >= "3.12.1" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
sqlalchemy==2.0.43 ; python_full_version >= "3.12.1" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
sqlmodel==0.0.25 ; python_full_version >= "3.12.1" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
starlette==0.46.2 ; python_full_version >= "3.12.1" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
toolz==1.0.0 ; python_full_version >= "3.12.1" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
trie==3.1.0 ; python_full_version >= "3.12.1" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
typer==0.19.2 ; python_full_version >= "3.12.1" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
types-requests==2.32.4.20250913 ; python_full_version >= "3.12.1" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
typing-extensions==4.15.0 ; python_full_version >= "3.12.1" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
typing-inspection==0.4.1 ; python_full_version >= "3.12.1" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
tzdata==2025.2 ; python_full_version >= "3.12.1" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
urllib3==2.5.0 ; python_full_version >= "3.12.1" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
uschunter==0.0.1 ; python_full_version >= "3.12.1" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
uvicorn==0.34.3 ; python_full_version >= "3.12.1" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
uvloop==0.21.0 ; python_full_version >= "3.12.1" and python_version < "4" and sys_platform != "win32" and sys_platform != "cygwin" and platform_python_implementation != "PyPy" and (implementation_name == "cpython" or implementation_name == "pypy")
watchfiles==1.1.0 ; python_full_version >= "3.12.1" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
wcwidth==0.2.14 ; python_full_version >= "3.12.1" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
web3==7.13.0 ; python_full_version >= "3.12.1" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
websockets==15.0.1 ; python_full_version >= "3.12.1" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
win32-setctime==1.2.0 ; python_full_version >= "3.12.1" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy") and sys_platform == "win32"
yarl==1.20.1 ; python_full_version >= "3.12.1" and python_version < "4" and (implementation_name == "cpython" or implementation_name == "pypy")
